
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lightitalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lightitalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lightitalic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/bolditalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bolditalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bolditalic.ttf') format('truetype'); /* Safari, Android, iOS */
}